html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */



:root {
  --bg-color: rgb(26, 26, 48);
  --color-neon-pink: rgb(255, 0, 191);
}

/* body */
body {
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}

/* header */
header {
  grid-row: 1;

  margin: 3em 0;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 3.5rem;
  color: var(--color-neon-pink);
  text-shadow: 0 0 5px var(--color-neon-pink);
}

/* main */
main {
  grid-row: 2;

  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 500px;
  border-radius: 5%;
}

#board-display {
  /* background-color: aqua; */
  border-radius: 5%;
  /* padding: 1em; */
  height: 100%;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#board-display .box {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: blueviolet;
  border: 2px solid white;  
}

#board-display .box p {
  font-family: 'Montserrat', sans-serif;
  font-size: 7rem;
}