html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */



:root {
  --bg-color: rgb(26, 26, 48);
  --color-neon-pink: rgb(255, 0, 191);
  --color-neon-violet: rgb(132, 0, 255);
  --color-neon-red: rgb(255, 0, 64);
}

/* body */
body {
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}

/* header */
header {
  grid-row: 1;

  margin: 3em 0;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 3.5rem;
  color: var(--color-neon-pink);
  text-shadow: 0 0 5px var(--color-neon-pink), 2px 2px 10px var(--color-neon-red);
}

/* players */
#container-players {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
  justify-items: center;
  align-items: center;
}

#container-players button {
  grid-row: 1;

  color: var(--color-neon-red);
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Rock Salt', cursive;
  font-size: 2rem;
  text-shadow: 0 0 5px var(--color-neon-red), 2px 2px 5px var(--color-neon-pink);

  border-radius: 50%;
  border: 2px solid var(--color-neon-red);
}

#container-players button:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 4px var(--color-neon-red), 3px 3px 10px var(--color-neon-pink);
}

#container-players #player-mark {
  color: var(--color-neon-violet);
  font-family: 'Rock Salt', cursive;
  font-size: 2rem;
  text-shadow: 2px 2px 5px var(--color-neon-violet), 2px 2px 3px var(--color-neon-red);
}

/* main */
main {
  grid-row: 3;

  background-color: var(--bg-color);
  height: 500px;
  width: 500px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board-display {
  height: 95%;
  width: 95%;
  box-shadow: 0 0 15px 3px var(--color-neon-pink);

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#board-display .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 7rem;

  background-color: var(--bg-color);
  color: var(--color-neon-violet);
  text-shadow: 2px 2px 5px var(--color-neon-violet), 0 0 3px var(--color-neon-red);
  border: 2px solid var(--color-neon-pink);
}

#board-display .cell:hover {
  background-color: var(--color-neon-red);
}